Backend/.env
Backend/node_modules/
Backend/dist/
Frontend/node_modules/
Frontend/dist/
.DS_Store
.vscode/
Backend/.vscode/
Frontend/.vscode/
Backend/.env.local
Frontend/.env.local
Backend/.env.development
Backend/.env.production
Backend/.env.test
Backend/.env.development.local
Backend/.env.production.local
Backend/models
Backend/migrations
Frontend/.env.development
